rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /gallery/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
    match /guest/{allPaths=**} {
      allow read, write: if true;
    }
    match /special/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
